:root {
  --bg-color: white;
  --color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --color: white;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}
