.repo {
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.repoHeader {
  width: 100%;
  border-bottom: 1px solid var(--color);
}

.repoName,
.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyIcon {
  svg {
    color: var(--color);
  }
}

.repoNameLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 90%;
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: ellipsis;
}

.languageAndData {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.topic {
}

.topicText {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
