.container {
  align-items: center;
  padding: 1.5rem 0;
}

.info {
  padding-left: 1rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 2;
  width: fit-content;
}

.bio {
  margin-top: 1rem;
}

.link {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
}
